div{
display: flex;
flex-direction: row;
justify-content: center;
flex-wrap: nowrap;
}
form{
background-color: rgb(85, 88, 88);
padding: 50px;
border-radius: 20px;
box-shadow: -2px 2px rgb(54, 45, 45);
}
label{
    color: rgb(0, 0, 0);
    font-weight: bold;

}

#btn{
background-color: aliceblue;
border: 1px solid;
color: rgb(49, 46, 46);
border-radius: 10px;
padding: 7px;

}

#btn2{
background-color: aliceblue;
border: 1px solid;
color: rgb(148, 144, 144);
border-radius: 10px;
padding: 7px;

}
#btn:hover{
    background-color: rgb(170, 159, 159);
    color: aliceblue;
}
#btn2{
    background-color: rgb(116, 106, 106);
    color: aliceblue;
}
input [type="text"]{
border: 1px solid rgb(145, 127, 127);
border-radius: 10px;
height: 15px;

}