header{
    background-color: rgb(240, 237, 237);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    
}
header img
{
 width:200px;   
}
.navbar{
    display: flex;
    flex-flow: row;
    align-items: center;
}
.navbar a{
    margin: 5px;
    color: rgb(0, 0, 0);
}
.navbar a:hover{
    text-shadow:-2px 2px rgb(255, 250, 250);
     font-size: 20px;
}
.buttons{
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    align-items: center;

}
button{
    background-color: rgb(240, 235, 235);
    padding: 7px;
    color: rgb(0, 0, 0);
     margin:5px ;
     border: 1px white;
     border-radius: 15px;
    
}
button:hover{
    padding: 9px;
    color: white;
    background-color: rgb(105, 98, 98);
}
